In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('spam.csv')

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
dummies=pd.get_dummies(df['Category'])

In [5]:
df=pd.concat([df,dummies],axis='columns')

In [6]:
df

     Category                                            Message  ham  spam
0         ham  Go until jurong point, crazy.. Available only ...    1     0
1         ham                      Ok lar... Joking wif u oni...    1     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...    0     1
3         ham  U dun say so early hor... U c already then say...    1     0
4         ham  Nah I don't think he goes to usf, he lives aro...    1     0
...       ...                                                ...  ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...    0     1
5568      ham               Will ü b going to esplanade fr home?    1     0
5569      ham  Pity, * was in mood for that. So...any other s...    1     0
5570      ham  The guy did some bitching but I acted like i'd...    1     0
5571      ham                         Rofl. Its true to its name    1     0

[5572 rows x 4 columns]

In [7]:
df.drop(['Category','ham'],axis='columns',inplace=True)

In [8]:
df

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(df.Message,df['spam'],test_size=0.2)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
v=CountVectorizer()

In [13]:
xtrain_count=v.fit_transform(xtrain.values)

In [14]:
xtrain_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:
xtrain[:2]

2033    Yes, i'm small kid.. And boost is the secret o...
2563                 Yeah I am, so I'll leave maybe 7ish?
Name: Message, dtype: object

In [16]:
from sklearn.naive_bayes import MultinomialNB

In [17]:
MNB=MultinomialNB()

In [18]:
MNB.fit(xtrain_count,ytrain)

MultinomialNB()

In [19]:
xtest_count=v.transform(xtest)

In [20]:
MNB.score(xtest_count,ytest)

0.9757847533632287